/* ========= css reset ======== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style-type: none;
}


/* body {
    width: 100%;
    height: 100vh;
} */


/* .card {
    width: 50%;
    background-color: rgba(128, 128, 128, 0.152);
    padding: 3rem 2rem;
    border-radius: 1rem;
    position: relative;
    top: 20%;
    margin: 1rem auto;
}

.card h3 {
    padding: 1rem 0rem;
    cursor: pointer;
}

#content {
    display: none;
    transition: all 0.9s;
} */


/* ==============#03 ==========*/


/* 
#card {
    width: 40%;
    padding: 2rem;
    background-color: rgba(128, 128, 128, 0.177);
    border-radius: 0.5rem;
    margin: auto;
    position: relative;
    top: 30%;
}

#card p {
    padding: 1rem 0rem;
}

#card button {
    padding: 0.5rem 1rem;
    border: none;
    color: white;
    background-color: orangered;
    text-align: center;
    position: relative;
    left: 25%;
    border-radius: 0.2rem;
    box-shadow: 1px 3px 40px rgb(206, 130, 130);
    cursor: pointer;
}

#card button:hover {
    background-color: white;
    color: orangered;
    transition: all ease-in-out 0.5s;
} */


/* #04 ==============  */


/* -- loading -------  */


/* 
.Container {
    display: flex;
    justify-content: center;
    margin-top: 18em;
    position: absolute;
    left: 50%;
}

.loader {
    position: relative;
}

.loader::before,
.loader::after {
    content: "";
    width: 1.8em;
    height: 1.8em;
    position: absolute;
    border-radius: 4em;
}

.loader::before {
    background-color: orangered;
    left: 0;
    transform: translateX(10px);
    animation: moveleft 1s ease infinite;
}

.loader::after {
    background-color: lightgreen;
    right: 0;
    transform: translateX(-10px);
    animation: moveright 1s ease infinite;
}

@keyframes moveright {
    0% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(-10px);
    }
}

@keyframes moveleft {
    0% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(10px);
    }
} */


/* -----card content----  */


/* 
#card {
    width: 90%;
    padding: 2rem;
    background-color: rgba(128, 128, 128, 0.177);
    border-radius: 0.5rem;
    margin: auto;
}

#card p {
    padding: 2rem;
    background-color: rgba(128, 128, 128, 0.177);
    border-radius: 0.5rem;
    margin: auto;
    margin: 1rem auto;
} */


/* ================#05 ==============  */


/* 
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 0, 0, 0.401), rgba(0, 0, 0, 0.503)), url('./asset/christina-wocintechchat-com-glRqyWJgUeY-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card {
    width: 20%;
    margin: auto;
    padding: 2rem 0rem;
    background-color: rgba(255, 255, 255, 0.503);
    border-radius: 0.3rem;
    box-shadow: 1px 2px 20px white;
}

.container .card .content {
    width: 100%;
    height: 100%;
    padding: 0rem 1rem;
}

.container .card .content .title {
    text-align: center;
    padding: 1rem 0rem;
}

.container .card .content .sub-title {
    text-align: center;
    margin: auto;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.723);
}

.container .card .content .user-name {
    padding: 0.8rem 0rem;
}

.container .card .content .user-name input {
    padding: 0.4rem 0.2rem;
    font-size: 0.6rem;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    display: block;
    width: 100%;
    color: gray;
}

.container .card .content .user-password {
    padding: 0.8rem 0rem;
}

.container .card .content .user-password input {
    padding: 0.4rem 0.2rem;
    font-size: 0.6rem;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    display: block;
    width: 100%;
    color: gray;
}

.container .card .content .log-in-btn {
    width: 100%;
    margin: 1rem 0rem;
}

.container .card .content .log-in-btn button {
    border: none;
    padding: 0.5rem 0.5rem;
    width: 100%;
    background-color: rgba(229, 53, 53, 0.937);
    color: white;
    font-size: 0.7rem;
    border-radius: 0.4rem;
} */


/* ================#06 ==============  */


/* 
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .card {
    width: 40%;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.108);
    border-radius: 0.5rem;
    padding: 2rem;
}

.container .card p {
    padding: 0.5rem 0rem;
    line-height: 1.8;
    font-size: 0.8rem;
}

.container .card button {
    width: 100%;
    background-color: orangered;
    color: white;
    border: none;
    outline: none;
    padding: 0.3rem 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

.pop-content {
    background-color: rgb(15, 226, 110);
    position: absolute;
    padding: 3rem;
    border-radius: 0.5rem;
}

.pop-content p {
    padding: 0.5rem 0rem;
    text-align: center;
}

.pop-content input {
    padding: 0.4rem;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    font-size: 0.6rem;
    display: block;
}

.pop-content button {
    margin: 1rem 0.5rem;
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
} */


/* ================#07 ==============  */


/* 
header {
    width: 100%;
    height: 100vh;
}

header .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem;
}

header .container .menu ul {
    display: flex;
}

header .container .menu ul li {
    list-style: none;
    padding: 0rem 0.5rem;
}

header .container .menu ul li a {
    text-decoration: none;
    color: black;
}

header .container .humburger-menu {
    cursor: pointer;
}

header .container .line {
    display: block;
    width: 20px;
    height: 1px;
    background-color: black;
    color: black;
    padding: 0.05rem 0.5rem;
    margin: 0.2rem 0rem;
}
 */


/* ---- .content ---  */


/* 

.content {
    width: 20%;
    height: 100vh;
    background-color: orangered;
    position: absolute;
    top: 0px;
    left: -600px;
}

.content .menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .menu ul li {
    list-style: none;
    text-align: center;
    padding: 1rem 0rem;
}

.content .menu ul li a {
    text-decoration: none;
    color: white;
}

.content .menu ul #cancelBtn {
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
}
 */


/* ================#08 ==============  */


/* 
header {
    width: 100%;
    height: 100vh;
}

header .container {
    width: 90%;
    margin: auto;
    padding: 3rem;
}

header .container .box {
    width: 100%;
    padding: 1rem 0rem;
}

header .container .feature-btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.138);
}

header .container .feature-btn p {
    cursor: pointer;
}

header .container .content-area {
    width: 100%;
}

header .container .content-area .marketing-card {
    width: 100%;
    display: flex;
}

header .container .content-area .marketing-card .content {
    width: 100%;
    padding: 2rem;
}

header .container .content-area .marketing-card .content img {
    width: 100%;
}

header .container .content-area .industry-card {
    width: 100%;
    display: flex;
}

header .container .content-area .industry-card .content {
    width: 100%;
    padding: 2rem;
}

header .container .content-area .industry-card .content img {
    width: 100%;
} */


/* ================#09 ==============  */


/* 
header {
    width: 100%;
    height: 100vh;
}

header .container {
    width: 100%;
    margin: auto;
    padding: 1.5rem;
    display: flex;
}

header .container .left {
    padding: 1rem 2rem;
    background-color: orangered;
    color: white;
    border-radius: 1rem;
}

header .container .left .logo {
    padding: 1.5rem 0rem;
}

header .container .left .menu-list {
    padding: 2rem 0rem;
}

header .container .left .menu-list ul li {
    list-style: none;
    padding: 1rem 0rem;
    cursor: pointer;
}

header .container .left .menu-list ul li a {
    text-decoration: none;
    color: white;
}

header .container .right {
    padding: 1rem 2rem;
}

header .container .right #menu-content {
    position: absolute;
    padding: 1rem 1.5rem;
    background-color: rgba(0, 128, 0, 0.136);
    margin-right: 2rem;
    border-radius: 1rem;
}

header .container .right #about-content {
    position: absolute;
    padding: 1rem 1.5rem;
    background-color: rgba(255, 255, 0, 0.152);
    margin-right: 2rem;
    border-radius: 1rem;
}

header .container .right #contact-content {
    position: absolute;
    padding: 1rem 1.5rem;
    background-color: rgba(128, 128, 128, 0.156);
    margin-right: 2rem;
    border-radius: 1rem;
}

header .container .right #contact-content p {
    padding: 1rem 0rem;
}

header .container .right #menu-content p {
    padding: 1rem 0rem;
}

header .container .right #about-content p {
    padding: 1rem 0rem;
}

header .container .right h1 {
    text-align: center;
} */


/* ================#10 ==============  */


/* 
html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
}

header .container {
    width: 90%;
    margin: auto;
    padding: 3rem 0rem;
}

header .container .card {
    width: 100%;
}

header .container .card .content {
    width: 100%;
    padding: 1rem 1rem;
    margin: 1rem 0rem;
    background-color: rgba(128, 128, 128, 0.156);
    border-radius: 0.5rem;
}

header .container .card .content h2 {
    padding: 1rem 0rem;
    text-align: center;
}

header .container .card .content p {
    line-height: 1.7;
    font-size: 0.8rem;
} */


/* ================#11 ==============  */


/* header {
    width: 100vw;
    height: 120vh;
    background-color: rgba(128, 128, 128, 0.182);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    width: 80%;
    height: 90%;
    margin: auto;
    padding: 1.5rem 1rem;
    background-color: white;
    border-radius: 1rem;
}

header .container .login-sec {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1rem;
}

header .container .login-sec .logIn-content {
    width: 100%;
    height: 100%;
    padding: 0rem 3rem;
}

header .container .login-sec .log-in-other {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 68, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-image: url('./asset/christina-wocintechchat-com-glRqyWJgUeY-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

header .container .login-sec .log-in-other button {
    border: none;
    color: white;
    outline: none;
    background-color: rgba(29, 90, 202, 0.725);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

header .container .login-sec .logIn-content i {
    color: blue;
}

header .container .login-sec .logIn-content h3 {
    padding: 0.2rem 0rem;
}

header .container .login-sec .logIn-content .sub-title {
    color: rgba(128, 128, 128, 0.798);
    font-size: 0.6rem;
}

header .container .login-sec .logIn-content .email {
    padding: 0.4rem 0rem;
}

header .container .login-sec .logIn-content .email p {
    color: rgba(0, 0, 0, 0.85);
    font-size: 0.8rem;
    padding: 0.2rem 0rem;
}

header .container .login-sec .logIn-content .email input {
    border: 1px solid rgba(128, 128, 128, 0.305);
    outline: none;
    padding: 0.3rem 1rem;
    border-radius: 0.7rem;
    width: 100%;
    font-size: 0.6rem;
}

header .container .login-sec .logIn-content .password {
    padding: 0.3rem 0rem;
}

header .container .login-sec .logIn-content .password p {
    color: rgba(0, 0, 0, 0.85);
    font-size: 0.7rem;
    padding: 0.2rem 0rem;
}

header .container .login-sec .logIn-content .password input {
    border: 1px solid rgba(128, 128, 128, 0.305);
    outline: none;
    padding: 0.3rem 1rem;
    border-radius: 0.8rem;
    width: 100%;
    font-size: 0.6rem;
}

header .container .login-sec .logIn-content .check-btn {
    display: flex;
    padding: 0.5rem 0rem;
}

header .container .login-sec .logIn-content .check-btn input {
    margin: 0.3rem 0.2rem;
}

header .container .login-sec .logIn-content .check-btn .dis-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .container .login-sec .logIn-content .check-btn .dis-flex span {
    font-size: 0.7rem;
}

header .container .login-sec .logIn-content .btn {
    width: 100%;
}

header .container .login-sec .logIn-content .btn button {
    text-align: center;
    width: 100%;
    margin: 0.5rem 0rem;
    border: none;
    background-color: rgba(29, 90, 202, 0.725);
    color: white;
    border-radius: 0.3rem;
    padding: 0.4rem 0.7rem;
}

header .container .login-sec .logIn-content .or-sign-with {
    text-align: center;
    font-size: 0.6rem;
    color: rgba(128, 128, 128, 0.508);
    padding: 0.5rem 0rem;
}

header .container .login-sec .logIn-content .sign-icon {
    padding: 0.5rem 0rem;
}

header .container .login-sec .logIn-content .sign-icon .google {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.348);
    padding: 0.3rem 1rem;
    border-radius: 1rem;
}

header .container .login-sec .logIn-content .sign-icon .google img {
    width: 20px;
}

header .container .login-sec .logIn-content .sign-icon .google span {
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
    display: inline-block;
}

header .container .login-sec .logIn-content .sign-icon .facebook {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.348);
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    margin: 1rem 0rem;
}

header .container .login-sec .logIn-content .sign-icon .facebook img {
    width: 20px;
}

header .container .login-sec .logIn-content .sign-icon .facebook span {
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
    display: inline-block;
}

#logIn {
    position: absolute;
}

#signUp {
    position: relative;
    top: 0px;
} */


/* ================#12 ==============  */


/* header {
    width: 100;
    background-color: rgba(128, 128, 128, 0.245);
    box-shadow: 1px 2px 20px rgba(128, 128, 128, 0.15);
}

header .container {
    width: 90%;
    margin: auto;
}

header .container #nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
}

header .container #nav .nav-list {
    width: 100%;
    display: flex;
    justify-content: center;
}

header .container #nav ul {
    display: flex;
}

header .container #nav ul li {
    list-style: none;
    padding: 0rem 0.5rem;
}

header .container .menu {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

header .container .menu li {
    cursor: pointer;
}

header .container #nav .menu li i {
    font-size: 25px;
}

#content {
    width: 20%;
    height: 100vh;
    background-color: rgb(255, 68, 0);
    position: absolute;
    top: 0px;
    left: -100%;
}

#content .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content .container .list ul {
    width: 100%;
}

#content .container .list ul li {
    list-style: none;
    padding: 0.5rem 0rem;
    color: black;
} */


/* ================#13 ==============  */


/* header {
    width: 100vw;
    height: 100vh;
}

header .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .card {
    width: 50%;
    height: 50%;
    margin: auto;
    background-image: url('./asset/christina-wocintechchat-com-glRqyWJgUeY-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 1rem;
}

header .container .card .content {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.606);
    padding: 5rem;
} */


/* ================#14 ==============  */


/* header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    width: 70%;
    margin: auto;
}

header .container .team {
    padding: 1rem 0rem;
    width: 100%;
    margin: auto;
    display: flex;
    overflow-x: hidden;
}

header .container .team .card {
    width: 100%;
    margin: 1rem;
    text-align: center;
}

header .container .team .team-img {
    width: 600px;
}

header .container .team .team-img img {
    width: 100%;
}

header .container .team p {
    font-size: 0.7rem;
}

header .container .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

header .container .action-btn button {
    margin: 0rem 1rem;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 2rem;
} */


/* ================#15 ==============  */


/* header {
    width: 100%;
}

header .container {
    width: 90%;
    margin: auto;
}

header .container #btn {
    padding: 1rem 0rem;
}

header .container #card {
    background-color: rgb(242, 5, 5);
    padding: 1.5rem;
    display: inline-block;
    border-radius: 0.5rem;
    position: absolute;
    top: 80px;
    z-index: 1;
    color: white;
}

header .container #card li {
    padding: 0.5rem 0rem;
} */


/* ================#16 ==============  */


/* header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header .container {
    width: 90%;
    margin: auto;
}

header .container .card {
    width: 100%;
}

header .container .card h1 {
    text-align: center;
}

header .container .card p {
    padding: 1rem 0rem;
}

header .container .card .btn {
    text-align: center;
    display: flex;
    justify-content: center;
}

header .container .card .btn button {
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    background-color: orangered;
    color: white;
}

header .container #pop-card {
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 1rem;
    border-radius: 0.2rem;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 1;
    box-shadow: 1px 3px 30px rgba(128, 128, 128, 0.378);
}

header .container #pop-card p {
    text-align: center;
    padding: 0.5rem 0rem;
}

header .container #pop-card .btn {
    display: flex;
    justify-content: center;
}

header .container #pop-card .btn button {
    padding: 0.5rem 1rem;
    margin: 0rem 0.5rem;
    border-radius: 0.3rem;
    border: none;
    background-color: rgba(176, 169, 169, 0.266);
    cursor: pointer;
    box-shadow: 1px 3px 30px white;
} */


/* ================#19 ==============  */


/* 
header {
    width: 100%;
}

header .container {
    width: 90%;
    margin: auto;
    padding: 3rem 0rem;
}

header .container .card {
    margin: 2rem 0rem;
    padding: 1rem;
    border-radius: 1rem;
}

header .container .card p {
    color: gray;
    padding: 0.5rem 0rem;
    font-size: 0.9rem;
}

header .container #my-card1 {
    background-color: rgba(255, 68, 0, 0.147);
}

header .container #my-card2 {
    background-color: rgba(100, 110, 225, 0.147);
}

header .container #my-card3 {
    background-color: rgba(234, 121, 121, 0.147);
}

header .container #my-card4 {
    background-color: rgba(121, 197, 235, 0.366);
}

header .container #my-card5 {
    background-color: rgba(205, 202, 49, 0.428);
}

header .container #my-card6 {
    background-color: rgba(100, 225, 112, 0.405);
}

header .container #my-card7 {
    background-color: rgba(208, 73, 170, 0.147);
} */


/* ================#20 ==============  */


/* header {
    width: 100vw;
    height: 100vh;
    background-color: rgba(186, 176, 176, 0.713);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 40px white;
    text-align: center;
    position: relative;
}

header .container::before {
    content: '';
    opacity: 0;
    position: absolute;
} */


/* ================#21 ==============  */


/* header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    width: 50%;
    margin: auto;
}

header .container .card {
    background-color: rgba(128, 128, 128, 0.193);
    padding: 2rem;
    border-radius: 1rem;
}

header .container .card h1 {
    text-align: center;
    padding: 1rem 0rem;
}

header .container .btn {
    width: 100%;
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
}

header .container .btn button {
    padding: 0.5rem 1.5rem;
    background-color: orangered;
    border: none;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3s;
}

header .container .btn button:hover {
    background-color: rgb(212, 81, 33);
}

.red-color {
    background-color: red;
    color: white;
    padding: 2rem;
    border-radius: 1rem;
}

.black-color {
    background-color: black;
    color: white;
    padding: 2rem;
    border-radius: 1rem;
}

.bold {
    font-weight: bold;
} */


/* ================#22 ==============  */


/* #btn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    border-radius: 50%;
    font-size: 7rem;
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.442);
    cursor: alias;
}

header {
    width: 100%;
    height: 100vh;
}

header .container {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.slider1 {
    width: 100%;
    height: 100%;
    background-image: url('./asset/slider-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.slider2 {
    width: 100%;
    height: 100%;
    background-image: url('./asset/slider-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
} */


/* ================#23 ==============  */


/* header {
    width: 100%;
    height: 100vh;
}

header .container {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .card {
    width: 50%;
    background-color: rgba(128, 128, 128, 0.15);
    padding: 2rem;
    border-radius: 1rem;
}

header .container .card h1 {
    text-align: center;
    padding: 0.5rem 0rem;
}

header .container .card #comment-sec {
    width: 100%;
    display: flex;
    padding: 2rem 0rem;
    justify-content: center;
}

header .container .card #comment-sec input {
    padding: 0.5rem 4rem;
    outline: none;
    border: none;
}

header .container .card #comment-sec button {
    padding: 0.5rem;
    border: none;
    background-color: rgb(59, 59, 224);
    color: white;
    border-radius: 0.1rem;
    cursor: pointer;
} */


/* ================#24 ==============  */


/* 
header {
    width: 100vw;
    height: 100vh;
}

header .container {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 3rem 0rem;
    display: flex;
}

header .container .task-btn {
    width: 100%;
}

header .container .task-btn button {
    background-color: black;
    color: white;
    padding: 0.5rem 1.5rem;
    border: none;
    cursor: pointer;
}

header .container .task-btn .pop-window {
    width: 70%;
    padding: 3rem 0rem;
    margin: 2rem 0rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    box-shadow: 1px 1px 30px gray;
    position: relative;
}

header .container .task-btn .pop-window p {
    padding: 1rem;
}

header .container .task-btn .pop-window input {
    padding: 1rem;
    margin: 0rem 1rem;
    border-radius: 0.3rem;
}

header .container .task-btn .pop-window button {
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
}

header .container .task-btn .pop-window i {
    font-size: 2rem;
    position: absolute;
    top: 1.5rem;
    right: 3rem;
    cursor: pointer;
}

header .container .task-list {
    width: 60%;
    height: 100%;
}

header .container .task-list li {
    padding: 1rem 1rem;
}

*/


/* ================#25 ==============  */


/* 
header {
    width: 100%;
    padding: 5rem 0rem;
}

header .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

header .container .card {
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: rgba(128, 128, 128, 0.393);
    margin: 1rem;
}

header .load-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

header #loading-btn {
    padding: 1rem;
    border: none;
    background-color: orange;
    color: white;
    cursor: pointer;
}

#load-card {
    width: 80%;
    margin: auto;
    display: flex;
}

.card {
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: rgba(128, 128, 128, 0.393);
    margin: 1rem;
}

#load-card2 {
    width: 80%;
    margin: auto;
    display: flex;
}

.card {
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: rgba(128, 128, 128, 0.393);
    margin: 1rem;
}

#load-card3 {
    width: 80%;
    margin: auto;
    display: flex;
}

.card {
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: rgba(128, 128, 128, 0.393);
    margin: 1rem;
}

#load-card4 {
    width: 80%;
    margin: auto;
    display: flex;
} */


/* ================#26 ==============  */


/*     
    #header {
        width: 100%;
        height: 100vh;
    }
    
    #header .container {
        width: 80%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #header .container .card {
        width: 60%;
        height: 60%;
        background-color: rgba(128, 128, 128, 0.237);
        border-radius: 0.5rem;
        cursor: pointer;
        overflow: hidden;
    }
    
    #header .container .card img {
        width: 100%;
        transition: all 0.3s;
    }
    
    #header .container .card img:hover {
        transform: scale(2);
    }
    
    #header .container .card::after {
        content: '';
        background-color: black;
        width: 100%;
        height: 100%;
        z-index: 100;
    } */


/* ================#27 ==============  */


/*     
    #header {
        width: 100%;
    }
    
    #header .container {
        width: 100%;
        overflow: hidden;
    }
    
    #header .container #navbar {
        width: 100%;
        padding: 1rem 0rem;
        display: flex;
        justify-content: space-around;
        background-color: black;
        color: white;
        transition: all 0.5s;
        position: fixed;
        overflow: hidden;
    }
    
    #header .container #content {
        width: 80%;
        margin: auto;
        padding: 4rem 0rem;
    }
    
    #header .container #content p {
        padding: 2rem 0rem;
    } */


/* ================#28 ==============  */


/*     
    #header {
        width: 100%;
        height: 100vh;
    }
    
    #header .container {
        width: 90%;
        height: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #header .container .card {
        padding: 2rem;
        margin: 1rem;
        border-radius: 0.3rem;
        text-align: center;
    }
    
    #header .container #card-1 {
        background-color: rgba(128, 128, 128, 0.306);
        display: block;
        z-index: -1;
    }
    
    #header .container #card-2 {
        background-color: rgba(126, 234, 133, 0.306);
        position: relative;
        left: -2500px;
        transition: all 0.2s;
        /* display: none; */


/* }
#buttun i:hover #card-2 {
    left: 0px;
    z-index: 1;
}
#buttun {
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
#buttun #back {
    margin: 0rem 1rem;
}
#buttun #next {
    margin: 0rem 1rem;
}
#buttun i {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
} */


/* ================#29 ==============  */


/* header {
    width: 100%;
}

header .container {
    width: 90%;
    margin: auto;
}

header .container #card-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

header .container #card-container-2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

header .container #card-container .card {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.244);
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem;
}

header .container #card-container-2 .card {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.244);
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem;
    opacity: 0;
}

.anime-card {
    animation: anime 2s ease 1s 1 forwards;
}

@keyframes anime {
    100% {
        opacity: 1;
    }
} */


/* ================#30 ==============  */


/* header {
    width: 100vw;
    height: 100vh;
}

header .container {
    width: 100%;
    height: 80%;
    display: flex;
    position: relative;
}

header .container #card-1 {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.304);
}

header .container #card-2 {
    width: 100%;
    height: 100%;
    background-color: rgba(55, 0, 255, 0.281);
    position: absolute;
    right: -100%;
    transition: all 0.5s;
    animation: anime 2s ease 0s 1 reverse forwards;
}

header .container #card-3 {
    width: 100%;
    background-color: rgb(71, 188, 50);
}

.card {
    text-align: center;
    padding: 3rem;
    transition: all 0.5s;
}

.card p {
    padding: 2rem;
    width: 50%;
    margin: auto;
}

button {
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.1rem;
    background-color: rgba(0, 0, 255, 0.662);
    color: white;
    cursor: pointer;
}

@keyframes anime {
    0% {
        right: 0%;
    }
    100% {
        right: 100%;
    }
} */


/* ================#31 ==============  */

/* header {
    width: 100vw;
}

.container {
    width: 90%;
    margin: auto;
} */

/* ================#32 ==============  */

/* header{
    width: 100vw;
    height: 100vh;
}

header .container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .log-in{
    padding: 2rem;
    background-color: rgba(128, 128, 128, 0.226);
    border-radius: 0.2rem;
}

header .container .log-in input{
    width: 100%;
    padding: 1rem;
    margin: 1rem 0rem;
}

header .container .log-in button{
    width: 100%;
    padding: 1rem;
    cursor: pointer;
} */


/* ====PRACTICE CODE : #33 (scroll up-down navbar section drop-up)======= */

header{
    width: 100vw;
    height: auto;
}

header .container{
    width: 90%;
    margin: auto;
    padding: 2rem 0rem;
}

header .container #navbar{
    width: 100%;
    background-color: rgb(255, 68, 0);
    padding: 1rem 1rem;
    border-radius: 1rem;
}

header .container #navbar ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header .container #hero{
    width: 100%;
    padding: 3rem 0rem;
}

header .container #hero .content{
    width: 100%;
}
header .container #hero .content p{
    width: 100%;
    padding: 1rem 0rem;
}